body {
  background:#fff;
}

.logo{
  width:42px;
  height:42px;
  object-fit:cover;
}

.brand{
  font-size:20px;
  font-weight:600;
}

.section-title{
  margin:10px 0 15px;
  font-weight:700;
}

.section-title.women{
  text-align:center;
  color:#8b2e2e;
  letter-spacing:1px;
}